Using introspection to dynamically create table classes and objects

## Setup

In [ ]:
from fastlite import *
from fastcore.all import *

Assign a path for the database.

In [ ]:
datapath = Path('farm.db')

First let's create a database and assign some tables to it

In [ ]:
farm_db = database(datapath)
class Chicken: id: int; breed: str; age: int; 
class Dog: id: int; name: str; age: int;
chickens = farm_db.create(Chicken, pk='id')
dogs = farm_db.create(Dog, pk='id')

We'll insert records into both tables.

In [ ]:
chickens.insert(dict(breed='Alai', age=2))

Chicken(id=3, breed='Alai', age=2)

In [ ]:
dogs.insert(dict(name='Rover', age=3))

Dog(id=3, name='Rover', age=3)

Now we'll remove everything we just created from the global namespace. This way we can load the database from scratch and be forced to use introspection.

In [ ]:
del farm_db
del Chicken
del Dog
del chickens
del dogs

## Testing introspection

We'll use instrospection to load the tables into the global namespace. We use a different name then before to be more certain we aren't accidentally using the old instance.

In [ ]:
db = database(datapath)

g = globals()
for o in dir(db.t):
    g[o+'s'] = t = getattr(db.t, o)
    g[o.title()] = getattr(t, 'dataclass')()

In [ ]:
db.t

chicken, dog

Do our animals exist?

In [ ]:
chickens()

[Chicken(id=1, breed='Alai', age=2),
 Chicken(id=2, breed='Alai', age=2),
 Chicken(id=3, breed='Alai', age=2)]

In [ ]:
dogs()

[Dog(id=1, name='Rover', age=3),
 Dog(id=2, name='Rover', age=3),
 Dog(id=3, name='Rover', age=3)]

## Cleanup

We remove the database so each time the test is run clean.

In [ ]:
if datapath.exists(): datapath.delete()